html {
    background: gray;
}

.buttonContainer {
    margin: 50px;
    overflow: hidden;
}

.buttonContainer button {
    float: left;
    margin-right: 50px;
}

button {
    height: 50px;
    width: 50px;
    border: none;
    background: url(sprite_button.png) no-repeat;
}

.stop {
    background-position: -50px 0;
}

button:hover {
    background-position: 0 -50px;
}

.stop:hover {
    background-position: -50px -50px;
}

button:active {
    background-position: 0 -100px;
}

.stop:active {
    background-position: -50px -100px;
}

button[disabled] {
    background-position: 0 -150px;
}

.stop[disabled] {
    background-position: -50px -150px;
}